<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<h1> Welcome to Homepage </h1>
<body>
    <ul>
        <li><a href="/hello">Hello</a></li>
        <li><a href="/datetime">Current Date and Time</a></li>
        <li><a href="/temp">Who is this?</a></li>
        <li><a href="/index">Project Assign Tool</a></li>
    </ul>
For more info about second page, visit - <a href="http://127.0.0.1:8000/secondapp">second page</a><br/><br/>
For more info about function based CRUD Operations, visit - <a href="http://127.0.0.1:8000/fbvCRUDapp">This page</a><br/><br/>
Class based Views Examples are <a href="http://127.0.0.1:8000/cbvapp">here</a><br/><br/>
Cookie related, <a href="http://127.0.0.1:8000/cookiesapp">click here</a><br/><br/>
For session API related, <a href="http://127.0.0.1:8000/sessionAPI">click here</a><br/><br/>
</body>
</html>