{% extends "homepage/base.html" %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'homepage/css/index.css' %}"/> {% endblock link %}
{% block title%} Home {%endblock title %}

{% block header%}
        <div class='heading'>Test Project</div>
{% endblock header %}
{%block content%}
        <div class="lglo">
        <a href={% url 'login' %} class="lglolink"><button class="lglobutton">Login</button></a>
        <a href={% url 'sign-up' %} class="lglolink"><button class="lglobutton">Sign Up</button></a>
        </div>
{% endblock content %}



